<div class="container">

	<div class="alert alert-success" role="alert" *ngIf="justAddedTx">
		¡Transacción creada con éxito!
	</div>

	<h1>Transacción pendiente</h1>
	<p>Estas transacciones están esperando ser incluidas en el siguiente bloque. El siguiente bloque se crea cuando inicia el proceso de minería.</p>

	<app-transactions-table
		[transactions]="pendingTransactions">
	</app-transactions-table>

	 <button class="btn btn-primary" *ngIf="pendingTransactions.length > 0 && miningInProgress === false" (click)="minePendingTransactions()">
		Comenzar la mineria
    </button>

    <div *ngIf="miningInProgress === true">
    	Bloque minero ... Espera...
    </div>
</div>